[Torrent Leech]
type = drive
client_id = 219896697748-j5e38ugdq36eqel109hb9qjr7bkijkt3.apps.googleusercontent.com
client_secret = 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
scope = drive
root_folder_id =
token = {"access_token":"ya29.A0ARrdaM9U7pp6m82-hxTZS31nFmTfYYg-fLQylKbWFcNYuuDfx6NUKx1Ght1yzpcG-V2mPPI5KOBlUIxBkG7phsHJh4LBbr8y1wLyZsSpK3je7chGvTC8D-JisS_NhM96g6gwcVgOu5JslnQ1h65284xabEJy","token_type":"Bearer","refresh_token":"1//0guwQfeBUMsM9CgYIARAAGBASNwF-L9IraH-ljst1IiXsiy4_WQQz6d8NexUdCMq14pgSAwYxDEUIdYnI09HKfY7lOHFvtfeLMKM","expiry":"2022-02-13T21:38:30.5855617+05:30"}
team_drive = 0AKusWfwnoNCFUk9PVA